
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="/admin">餐饮信息数据表</a></li>
          <li ><a href="/addData">管理增加餐饮数据信息 <span class="sr-only">(current)</span></a></li>
          <li><a href="/showMoneyCount">餐饮季度营业额分析表</a></li>
          <li><a href="#"></a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="/showComment">管理用户评论数据</a></li>
          <li><a href="/showUserPower">管理用户评论权限</a></li>
          <!-- <li><a href="">管理用户权限</a></li>
          <li><a href="">管理用户权限</a></li>
          <li><a href="">管理用户权限</a></li> -->
        </ul>
        <!-- <ul class="nav nav-sidebar">
          <li><a href="">管理用户权限</a></li>
          <li><a href="">管理用户权限</a></li>
          <li><a href="">管理用户权限</a></li>
        </ul> -->
      </div>