<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <textarea rows="7" id="cotent" cols="150"></textarea><br/>
    <button class="btn btn-success">发表评论</button>
    <p>评论列表</p>
    <div>
    	<span>评论人：xxx</span>
		<span>评论时间：xxxx</span>
    	<ul>
    		<li>1</li>
    	</ul>
    </div>
    
</body>
</html>