<footer id="footer">
    <div class="top sm-hidden">
        <div class="block left">
            <h2>合作伙伴</h2>
            <hr>
            <ul>
                <li>美团网</li>
                <li>饿了么</li>
                <li>大众点评</li>
                <li>淘宝网</li>
            </ul>
        </div>
        <div class="block center">
            <h2>美食FAQ</h2>
            <hr>
            <ul>
                <li>去哪里寻找美食？</li>
                <li>美食寻找路线？</li>
                <li>美食品质怎么界定的？</li>
                <li>美食最多的地方？</li>
                <li>美食有哪些种类？</li>
            </ul>
        </div>
        <div class="block right">
            <h2>联系方式</h2>
            <hr>
            <ul>
                <li>电话：88888888</li>
                <li>邮件：88888888@qq.com</li>
                <li>地址：安徽省宣城市薰化路301号</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="version sm-visible">
        客户端 | 触屏版 | 电脑版
    </div>
    <div class="bottom">Copyright &copy; YCKU 流口水| 苏ICP 备120110119 号<span class="sm-hidden">|
            流口水经营许可证：L-YC-BK12345</span></div>

</footer>