<header id="header">
	<div class="center">
		<h1 class="logo">餐饮信息</h1>
		<nav class="link">
		<h2 class="none">网站导航</h2><!-- 完善大纲，隐藏标题 -->
		<ul >
			<li class="active"><a href="/index">全部</a></li>
			<li><a href="/information"><span class="xs-hidden">蛋糕</span>奶茶</a></li>
			<li><a href="/ticket">自助餐<span class="xs-hidden"></span></a></li>
			<li><a href="/about"><span class="xs-hidden">小吃快餐</span></a></li>
			<!-- <li><a href="#">烧烤<span class="xs-hidden">烤肉</span></a></li> -->
			<!-- <li><a href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">综合筛选<span class="xs-hidden"></span></a></li> -->
			<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">综合筛选<span class="xs-hidden"></span></a></li> -->
			<!-- <span style="float: right;">欢迎您：sss</span> -->
		</ul>
		
		</nav>
	 </div>
</header>