<aside class="sidebar">
    <div class="sidebox recommend">
        <h2>美食小吃推荐</h2>
        <div class="tag">
            <a href="###">红肠(12)</a>
            <a href="###">大面包(5)</a>
            <a href="###">切糕(8)</a>
            <a href="###">大凉糕(16)</a>
            <a href="###">叶饼(4)</a>
            <a href="###">盒子(9)</a>
            <a href="###">冷面(15)</a>
            <a href="###">打糕(22)</a>
            <a href="###">糖火烧(5)</a>
            <a href="###">排叉(7)</a>
            <a href="###">羊头(4)</a>
            <a href="###">火烧(18)</a>
            <a href="###">烧饼(8)</a>
            <a href="###">豆沙包(9)</a>
            <a href="###">切糕(16)</a>
            <a href="###">麻团(11)</a>
            <a href="###">血肠(14)</a>
            <a href="###">猪肉头(7)</a>
            <a href="###">麻辣烫(3)</a>
            <a href="###">打卤面(15)</a>
            <a href="###">油炸糕(7)</a>
        </div>
    </div>
    <div class="sidebox hot">
        <h2>热门美食</h2>
        <div class="figure">
            <figure>
                <img src="img/清蒸鲫鱼.jpg" alt="清蒸鲫鱼" style="width:150px;height:120px">
                <figcaption>清蒸鲫鱼</figcaption>
            </figure>
            <figure>
                <img src="img/肉末蒸蛋.jpg" alt="肉末蒸蛋" style="width:150px;height:120px">
                <figcaption>肉末蒸蛋</figcaption>
            </figure>
            <figure>
                <img src="img/酸菜鱼.jpg" alt="酸菜鱼"style="width:150px;height:120px">
                <figcaption>酸菜鱼</figcaption>
            </figure>
            <figure>
                <img src="img/酸辣大白菜.jpg" alt="酸辣大白菜"style="width:150px;height:120px">
                <figcaption>酸辣大白菜</figcaption>
            </figure>
            <figure>
                <img src="img/蟹黄豆腐.jpg" alt="蟹黄豆腐"style="width:150px;height:120px">
                <figcaption>蟹黄豆腐</figcaption>
            </figure>
            <figure>
                <img src="img/鱼头豆腐汤.jpg" alt="鱼头豆腐汤"style="width:150px;height:120px">
                <figcaption>鱼头豆腐汤</figcaption>
            </figure>
            <figure>
                <img src="img/蒜蓉蒸丝瓜.jpg" alt="蒜蓉蒸丝瓜" style="width:150px;height:120px">
                <figcaption>蒜蓉蒸丝瓜</figcaption>
            </figure>
            <figure>
                <img src="img/酒香豆苗.jpg" alt="酒香豆苗" style="width:150px;height:120px">
                <figcaption>酒香豆苗</figcaption>
            </figure>
        </div>
    </div>
    <div class="sidebox treasure">
        <h2>美食百宝箱</h2>
        <div class="box">
            <a href="###">天气预报</a>
            <a href="###">火车票查询</a>
            <a href="###">航空查询</a>
            <a href="###">地铁线路查询</a>
        </div>
    </div>
</aside>